<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-gray-900 to-gray-800 text-white text-center">
    <div class="max-w-lg">
      <h1 class="text-7xl font-extrabold text-red-500 animate-bounce">404</h1>
      <h2 class="text-3xl font-semibold mt-4">Oops! Wrong Turn.</h2>
      <p class="mt-2 text-lg text-gray-300">The page you're looking for is not found. Maybe the road changed?</p>
  
      <div class="mt-6 flex justify-center">
          <a href="https://www.animatedimages.org/cat-cars-67.htm">
              <img class="mx-auto" src="https://www.animatedimages.org/data/media/67/animated-car-image-0412.gif" alt="animated-car-image-0412" />
          </a> 
      </div>
  
      <button (click)="goHome()" class="mt-6 px-6 py-3 text-lg font-semibold text-gray-900 bg-yellow-400 rounded-full shadow-lg hover:bg-yellow-500 transition">
        Back to Home
      </button>
    </div>
</div>
